* {
    margin: 0px;

}

.container {
    display: grid;
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background-color: rgb(255, 68, 115);
    /* grid-template-columns: repeat(2, 2fr );
    grid-template-rows: repeat(2,2fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.header {background-color: rgb(80, 198, 253);}
.content1 {background-color: rgb(232, 178, 243);}
.content2 {background-color: rgb(232, 178, 243);}
.content3 {background-color: rgb(232, 178, 243);}
.content4 {background-color: rgb(232, 178, 243);}
.footer {background-color: rgb(80, 198, 253);}


.header{
    grid-area: 1/1/5/5;
}

.footer {
    grid-area: 4/1/5/5;
  }


  /* .item1{background:LightSkyBlue;}
  .item2{background:LightSalmon;}
  .item3{background:PaleTurquoise;}
  .item4{background:LightPink;}

  

  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }  */

#full-logo {
    /* background-color: lightblue; */
}