* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    grid-area: header;
    background-color: rgb(80, 198, 253);}
.content1 {
    grid-area: content1;
    background-color: rgb(232, 178, 243);}
.content2 {
    grid-area: content2;
    background-color: rgb(222, 149, 236);}
.content3 {
    grid-area: content3;
    background-color: rgb(201, 119, 218);}
.content4 {
    grid-area: content4;
    background-color: rgb(175, 121, 185);}
.footer {
    grid-area: footer;
    /* grid-area: 1/3/4/4; */
    background-color: rgb(80, 253, 215);}

.container {
/* NOTE: Display: Grid turns an HTML tag into a grid layout */
    display: grid;
    background-color: rgb(255, 68, 115);
/* NOTE: Grid-Template is shorthand for 
    grid-template-columns and grid-template-rows  */
    grid-template: repeat(4, 150px) / repeat(4, auto);
/* NOTE: Bellow syntax is: 
    "three rows at 150px height and one column at auto width"
    or >> grid-template: 150px 150px 150px / auto; << */
    grid-gap: 10px;
    font-size: 20px;
    text-align: center;

/* NOTE: I can create a Template-Area 
(Area Template) to visually see my layout */
    grid-template-areas: 
    "header header header header"
    ". content1 content2 ."
    ". content3 content4 ."
    "footer footer footer footer";


}

/* #content-box{
background-color: rgb(209, 253, 106);
} */

/* #full-logo{
    width: auto;
} */
