* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-blue-color);
    font-family: 'Fredoka One', cursive, sans-serif;
}

:root{
    --dark-blue-color: #0D85DB;
    --medium-blue-color: #3FA9F5;
    --light-blue-color: #81C5EF;
}

/* NAVIGATION */

.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* width: auto; */
    /* justify-content: center; */
    align-items: center;
    background-color: var(--medium-blue-color);
}
.navbar > .fa-circle {
    color: white;
    /* align-content: space-around; */
}
.navbar > .full-logo {
    order: -1;
}

.navbar > .full-logo, .fa-circle {
    align-content: space-around;
}


/* SUPPORTS */

@supports not (display: grid){
        .content-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
}  

@supports(display: grid) {
        .content-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}

/* FLEX LAYOUT - CARDS */

.content-grid > .cards {
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-content: center;

    text-align: center;
    color: var(--dark-blue-color);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 0.25rem;
    

    /* width: 200px; */
    height: 200px;
    padding: 1rem;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
}

/* SVG DESIGN SHAPES HERE */
/* The shape designs need to be sticky to the bottom corners */
